server:
  port: 8085

spring:
  application:
    name: INVENTORY-SERVICE

  eureka:
    client:
      service-url:
        defaultZone: http://localhost:8761/eureka

  rabbitmq:
    host: localhost
    port: 5672
    stream:
      username: guest
      password: guest
